aiocache==0.12.3
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
aiosqlite==0.21.0
attrs==25.4.0
audioop-lts==0.2.2
cffi==2.0.0
colorama==0.4.6
dotenv==0.9.9
ezcord==0.7.2
ffmpeg-python==0.2.0
frozenlist==1.8.0
future==1.0.0
idna==3.11
imageio-ffmpeg==0.6.0
multidict==6.7.0
numpy==2.3.5
propcache==0.4.1
py-cord==2.6.1
pycparser==2.23
PyNaCl==1.5.0
python-dotenv==1.2.1
PyYAML==6.0.3
typing_extensions==4.15.0
yarl==1.22.0
